<div class="articlewide">
{%-if collections.publication==undefined-%}
<center>Something has gone wrong... There should be publications here...</center>
{%-else-%}
{%-for pub in collections.publication reversed limit:maxlength -%}
{%-if pub.data.title-%}
<a href="{{ pub.page.url }}" class="articlewide">
{%-if pub.data.type-%}
<div class="type-and-title nomargin nopadding">
<span><code>{{ pub.data.type }}</code></span>
<em class="centered">{{ pub.data.title }}</em>
</div>
{%-else-%}
<div>
<em class="articlecenter">{{ pub.data.title }}</em>
</div>
{%-endif-%}
{% if pub.data.authors %}
<br>
<center><small>
{%-for author in pub.data.authors-%}
{%-if author == "Kevin Hayes"-%}
<strong class="nowrap">{{ author-}}</strong>
{%-elsif true-%}
<span class="nowrap">{{ author-}}</span>
{%-endif-%}
&emsp;&emsp;
{%-endfor-%}
</small></center>
{%-endif-%}
</a>
{%-endif-%}
{%-endfor-%}
{%-if maxlength >= 0-%}
{%-if maxlength < collections.publication.length-%}
<a href="/publications" class="articlecenter">More Publications</a>
{%-endif-%}
{%-endif-%}
{%-endif-%}
</div>
